[submodule "external/gmsh"]
	path = external/gmsh
	url = https://gitlab.onelab.info/gmsh/gmsh.git
[submodule "external/moose"]
	path = external/moose
	url = https://github.com/idaholab/moose
	branch = next
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
